abbr -g "b"="brew"
abbr -g "bi"="brew install"
abbr -g "brci"="brew install --cask"
abbr -g "ci"="brew install --cask"
abbr -g "cz"="chezmoi"
abbr -g "cdd"="chezmoi cd ~"
abbr -g "dp"="chezmoi apply -v"
abbr -g "ll"="ls -l"
abbr -g "la"="ls -al"
abbr -g "gg"="lazygit"
abbr -g "md"="mkdir -p"
